<!DOCTYPE html>
<html lang="en">
  <head>
    <title>syllabus.com</title>
    <link rel="stylesheet" href="../public/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>syllabus.com</h1>
  
    <h2>Recently added:</h2>
    
    <div id="recentlyAddedDisplay"></div>
    
    <!-- <ul>
      <li><a href="http://localhost:3000/files" download="">Introduction to Computing</a></li>
    </ul> -->
    
    <script src="../public/main.js"></script>  
  </body>
</html>
